.heading{
    width: 100%;
    font-size: 35px;
    margin: 0px;
    box-shadow: 5px 5px 5px blue;
}
.note{
    font-size: 18px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
    position: fixed;
    color:whitesmoke;
    bottom: 0;
width: 100%;
text-align: center;
line-height: 3;
font-size: 22px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: grey;
}
canvas{
    border:5px solid grey;
    background-color: greenyellow;
    box-shadow:5px 5px 5px greenyellow ;
    border-radius: 20px;
}